*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading{
 text-align: center;
 font-size: 30px;
 font-family: 'Times New Roman', Times, serif;
}
#addbtn{
 margin-top:3vh;
 padding: 1vh;
 width: 6vw;
 position: relative;
left: 90vh;
background-color: rgb(26, 163, 26);
color: white;
}
.tables{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3vh;
  color: black;
}

.tables table th,td{
  border: 2px solid black;
  border-collapse:collapse;
padding:1vh 3vh;
}
.tables table td button{
  margin: 1vh;
  width: 7vw;
  height: 4vh;

}
.model{
  display:none;
  position:fixed;
  z-index: 1;
  top:20%;
  left: 40%;
  width: 20%;
  height: 20%;
  overflow: auto;
  background-color: rgb(159, 144, 244);
}
.close{
 cursor: pointer;
 color:black;
position: relative;
left:1vw;
 font-size: 28px;
 font-weight: bold;
 
}
/* .close:hover{
 height: 2vh;
 width: 2vw;
 background-color: rgb(157, 157, 145);
} */
#formbtn{
  position: relative;
 left: 7vw;
  height: 3vh;
  width:6vw;
 top: 2vh;
}
#updatebtn{
 position: relative;
 left: 7vw;
  height: 3vh;
  width:6vw;
 top: 2vh;
}
.formclass label{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 23px;
  padding: 1vh 2vw;
}
#id{
 display: none;
}
#id1{
 display: none;
}
.formclass input{
  position:relative;
  left: 6vw;
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 7vw;

}
.btn{
position: relative;
left: 3vw;
margin:2vh;
padding: 1vh;
width: 5vw;
}
#updateformbtn{
 position: relative;
 left: 7vw;
 height: 3vh;
 width:6vw;
 top: 2vh;
}
.modelinputs p{
text-align: center;
}